@font-face {
  font-family: "typo";
  src: url("./assets/fonts/TYPO-Audiowide-Regular.ttf");
}

body {
  background-color: #1f1409;
}

.zoom-in {
  animation: zoomInSelf 1.5s ease;
  animation-iteration-count: 1;
}

.fade-in {
  animation: fadeIn 1.5s ease;
  animation-iteration-count: 1;
}

.progress-bar {
  animation: progressBar 2.5s ease;
}

.reveal-left {
  overflow: hidden; /* Cache l'extérieur pendant le scale */
  display: inline-block; /* Permet à scaleX de fonctionner correctement */
  animation: revealFromLeft 3s ease-out forwards;
}

@keyframes zoomInSelf {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    height: 0%;
    opacity: 0;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes revealFromLeft {
  0% {
    opacity: 0;
    transform: scaleX(0); /* Réduit la largeur à 0% */
    transform-origin: left; /* Définit l'origine du zoom à gauche */
  }
  100% {
    opacity: 1;
    transform: scaleX(1); /* Atteint 100% de la largeur normale */
  }
}
