@font-face {
  font-family: "typo";
  src: url("./assets/fonts/TYPO-Audiowide-Regular.ttf");
}

body {
  background-color: #1f1409;
}

.zoom-in{
  animation: zoomInSelf 1.5s ease;
  animation-iteration-count: 1;
}

.fade-in{
  animation: fadeIn 1.5s ease;
  animation-iteration-count: 1;
}

@keyframes zoomInSelf {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    height: 0%;
    opacity: 0;
  }

  to{
    height: 100%;
    opacity: 1;
  }
}
