@media screen and (min-width: 1024px) and (max-width: 1399px) {
  p {
    font-size: 0.8em !important;
  } 

  h4{
    font-size: 1em !important;
  }

  h3 {
    font-size: 1.2em !important;
  }

  h2{
    font-size: 1.6em !important;
  }
  
  /* Summary page  */
    #summary-title-act {
      margin-left: 7%;
    }
  
    #summary-text-act {
      margin-left: 10%;
    }
  
    #summary-button {
      height: 6vh;
    }

    #recap-modal{
      width: 70%;
      height: 60%;
    }
  
    /* Game page */
    #question-text {
    }
  
    /* Character view  */
    #character-name-text {
    }
  
    #character-char-name {
    }
  
    #character-char-detail {
      padding: 5%;
    }
  
    /* Town view  */
    #town-name {
    }
  
    #town-desc {
    }
  
    #town-answer-text {
    }
  
    /* Modal Feedback view  */
    #modal-text {
      width: 80%;
    }
  
    #modal-title {
    }
  
    /* Scale Proposition */
    #answer-scale-text {
    }
  
    /* Scale modal feedback */
    #modal-scale-feedback-title {
      top: 15%;
      left: 35%;
    }
  
    #modal-scale-feedback-text {
      width: 80%;
    }

    #modal-feedback-box {
      width: 40%;
      height: 70%;
    }
  
    /* Proposition view  */
    #answer-proposition-text {
      padding: 15%;
    }
  
    #add-content-text {
    }
  
    /* Modal End of ACt  */
    #end-modal-title {
    }
  
    #end-modal-res-text {
    }
  
    #rank-text {
    }
  }
  