@media screen and (min-width: 1600px) and (max-width: 1919px){
  /* Home page */
  p{
    font-size: 1.1em !important;
  }
  h2{
    font-size: 2em !important;
  }
  h3{
    font-size: 1.7em !important;
  }
  h4{
    font-size: 1.2em !important;
  }
  span{
    font-size: 0.9em !important;
  }
  /* Summary page  */
  #summary-title-act {
    margin-left: 8%;
  }

  #summary-text-act {
    margin-left: 7%;
  }

  #summary-button {
    height: 6vh;
  }
  #recap-modal{
    width: 60%;
    height: 80%;
  }

  #character-char-detail {
    padding: 5%;
  }

  /* Modal Feedback view  */
  #modal-text {
    width: 80%;
  }

  /* Scale modal feedback */
  #modal-scale-feedback-title {
    top: 15%;
    left: 40%;
  }

  #modal-scale-feedback-text {
    width: 80%;
  }

  /* Proposition view  */
  #answer-proposition-text {
    padding: 10%;
  }

  /* Game view */
  #add-content-text{
    padding: 10%
  }
}
