@media screen and (min-width: 1600px) and (max-width: 1919px) {
    /* Summary page  */
    #summary-title-act {
      margin-left: 7%;
    }
  
    #summary-text-act {
      margin-left: 10%;
    }
  
    #summary-button {
      height: 6vh;
    }
  
    /* Game page */
    #question-text {
    }
  
    /* Character view  */
    #character-name-text {
    }
  
    #character-char-name {
    }
  
    #character-char-detail {
      padding: 5%;
    }
  
    /* Town view  */
    #town-name {
    }
  
    #town-desc {
    }
  
    #town-answer-text {
    }
  
    /* Modal Feedback view  */
    #modal-text {
      width: 80%;
    }
  
    #modal-title {
    }
  
    /* Scale Proposition */
    #answer-scale-text {
    }
  
    /* Scale modal feedback */
    #modal-scale-feedback-title {
      margin-top: 16%;
      margin-left: 40%;
    }
  
    #modal-scale-feedback-text {
      width: 80%;
    }
  
    /* Proposition view  */
    #answer-proposition-text {
      /* font-size: 125%; */
      padding: 5%;
    }
  
    #add-content-text {
    }
  
    /* Modal End of ACt  */
    #end-modal-title {
    }
  
    #end-modal-res-text {
    }
  
    #rank-text {
    }
  }
  