@media screen and (min-width: 1920px) and (max-width: 2559px) {
  /* Home page */
  p {
    font-size: 1.2em !important;
  }
  h2 {
    font-size: 2em !important;
  }
  h3 {
    font-size: 1.7em !important;
  }
  h4 {
    font-size: 1.4em !important;
  }
  span {
    font-size: 1.05em !important;
  }

  /* Summary page */
  #recap-modal {
    width: 60%;
    height: 75%;
  }

  #summary-text-act {
    margin-left: 13%;
  }
}
