@media screen and (min-width: 800px) and (max-width: 1023px) {
  p {
    font-size: 0.6em !important;
  }

  h4 {
    font-size: 0.75em !important;
  }

  h3 {
    font-size: 1em !important;
  }

  h2 {
    font-size: 1.3em !important;
  }

  h1 {
    font-size: 1.6em !important;
  }

  span {
    font-size: 0.45em !important;
  }

  /* Summary page  */
  #summary-title-act {
    margin-left: 6%;
  }

  #summary-text-act {
    margin-left: 10%;
  }

  #summary-button {
    height: 6vh;
  }

  #recap-modal {
    width: 80%;
    height: 45%;
  }
}
