@media screen and (min-width: 1920px) and (max-width: 2559px) {
  /* Home page */
  p{
    font-size: 1.15em !important;
  }
  h2{
    font-size: 1.9em !important;
  }
  h3{
    font-size: 2em !important;
  }
  h4{
    font-size: 1.35em !important;
  }
  span{
    font-size: 0.9em !important;
  }
  /* Summary page  */
  #summary-title-act {
    margin-left: 6%;
  }

  #summary-text-act {
    margin-left: 10%;
  }

  #summary-button {
    height: 6vh;
  }
  #recap-modal{
    width: 80%;
    height: 75%;
  }

  #character-char-detail {
    padding: 5%;
  }

  #recap-modal{
    width: 60%;
    height: 90%;
  }

  /* Modal Feedback view  */
  #modal-text {
    width: 80%;
  }

  #modal-feedback-box {
    width: 50%;
  }

  /* Scale modal feedback */
  #modal-scale-feedback-title {
    top: 15%;
    left: 38%;
  }

  #modal-scale-feedback-text {
    width: 80%;
  }

  /* Proposition view  */
  #answer-proposition-text {
    /* font-size: 125%; */
    padding: 10%;
  }
}
