@media screen and (min-width: 1920px) {
  /* Home page */
  p{
    font-size: 1.4em !important;
  }
  h2{
    font-size: 2.5em !important;
  }
  h3{
    font-size: 2.1em !important;
  }
  h4{
    font-size: 1.7em !important;
  }
  span{
    font-size: 1.2em !important;
  }
  /* Summary page  */
  #summary-title-act {
    margin-left: 6%;
  }

  #summary-text-act {
    margin-left: 10%;
  }

  #summary-button {
    height: 6vh;
  }
  #recap-modal{
    width: 80%;
    height: 75%;
  }

  #character-char-detail {
    padding: 5%;
  }

  /* Modal Feedback view  */
  #modal-text {
    width: 80%;
  }

  #modal-feedback-box {
    width: 80%;
  }

  /* Scale modal feedback */
  #modal-scale-feedback-title {
    margin-top: 18%;
    margin-left: 32%;
  }

  #modal-scale-feedback-text {
    width: 80%;
  }

  /* Proposition view  */
  #answer-proposition-text {
    /* font-size: 125%; */
    padding: 10%;
  }
}
